*{
	font-family: 'Roboto', sans-serif;
}
.producto img{
	max-width: 100%;
	height: auto;
	text-align: center;
}
.imagen{
	max-width: 450px;
}
.imagen img{
	max-width: 40px;
	border: none;
}
.logo{
	width: 100%;
	text-align: center;
	padding-top: 10%;
}
.logo img{
	width: 20%;
	height: auto;
}

.producto_botones{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
footer p, h1{
	color: white;
}
#mant{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3%;
}
@media (max-width: 480px) {
	#quienessomos .row {
		flex-direction: column;
		padding: 0;
	}

	#quienessomos .row .col-md-6 {
		padding: 0;
	}

	#quienessomos #mant {
		flex-direction: column-reverse !important;
	}

	.logo img {
		width: 60%;
	}
}
@media (max-width: 660px) {

	.landing{
		text-align: center;
		margin: 0 auto;
	}
	.landing img{
		max-width:100%;
		height:auto;
		text-align: center;
		margin:0 auto;
	}
}